<?xml version="1.0"?>
<config>
    <modules>
        <Shopstream_Analytics>
            <version>0.1.0</version>
        </Shopstream_Analytics>
    </modules>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<analytics>
											<title>Analytics - All</title>
										</analytics>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<frontend>
        <layout>
            <updates>
                <analytics>
                    <file>analytics.xml</file>
                </analytics>
            </updates>
        </layout>
		<routers>
            <analytics>
                <use>standard</use>
                <args>
                    <module>Shopstream_Analytics</module>
                    <frontName>analytics</frontName>
                </args>
            </analytics>
        </routers>
		<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <shopstreamanalytics_order_success>
                        <class>analytics/observer</class>
                        <method>setShopstreamAnalyticsOnOrderSuccessPageView</method>
                    </shopstreamanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <shopstreamanalytics_order_success>
                        <class>analytics/observer</class>
                        <method>setShopstreamAnalyticsOnOrderSuccessPageView</method>
                    </shopstreamanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
	</frontend>
	<global>
		<models>
            <analytics>
                <class>Shopstream_Analytics_Model</class>
            </analytics>
        </models>
		<helpers>
            <analytics>
                <class>Shopstream_Analytics_Helper</class>
            </analytics>
        </helpers>
		<blocks>
            <analytics>
                <class>Shopstream_Analytics_Block</class>
            </analytics>
        </blocks>
	</global>
	<default>
		<analytics>
            <shopstream_group>
                <shopstream_analytics_enabled>0</shopstream_analytics_enabled>
            </shopstream_group>
		</analytics>
    </default>
</config>